
@{
    ViewData["Title"] = "Index";
}

<h1>Kongens Fald</h1>
<h3>Johannes V. Jensen</h3>
<br /><br />
Mikkel<br /><br />

Vejen bøjede tilvenstre over en Bro og ind gennem Serritslev By; Grøfterne<br />
laa med mørkt Græs og gule Smaablomster, ude over Markerne hvilede hist og<br />
her en hvid Blak, en Blomstertaage, i Skumringen. Solen var gaaet under, og<br />
Luften stod kølig klar, skyløs men uden Stjærner.<br /><br />

Der kom et Hølæs kørende fra Landet ind i Serritslev By, langsomt og<br />
gyngende paa den vanskelige Vej. Som det listede afsted i Tusmørket ind<br />
gennem den snævre Landsbygade, lignede det et stort tottet, lavbenet Dyr,<br />
der trisser af fordybet i Betragtninger og snuser til Jorden.<br /><br />

Læsset holdt udenfor Serritslev Kro; de svedige Heste vendte Hovedet<br />
tilbage og smagte paa Bidslet, de kunde nok lide at staa. Kusken lindede<br />
sig ned paa Hamlen, skrævede til Jorden og gjorde Tømmen fast. Saa vendte<br />
han sig mod Bislaget og raabte ind og snød Næsen.<br /><br />

Er der nogen til færds -- kanske?<br /><br />

Hvad -- der gik Lys i Ruderne, havde de <span id="yyguiof">t</span>ændt Lys derinde? I det samme kom<br />
en Pige frem i Døren. Kusken ønskede sig en Dram. Mens han ventede paa den,<br />
blev det levende oppe i Læsset, et Par lange Ben skød sig forsigtigt ned og<br />
følte efter Hamlen, <span id="fwefh">s</span>elve Personen laa paa Maven og gryntede besværet. Ned<br />
kom han da og stod og rystede sig -- et langt knoglet Menneske med Hætte<br />
over Hovedet.<br /><br />

Singodt, <span id="mww88">s</span>agde han. Karlen slog den røde Dram i sig og hostede behørigt. Om<br />
han ellers holdt videre, Kusken? De kunde jo altid gaa indenfor og tage en<br />
Snaps mere paa Følgeskabet.<br /><br />

Men da de kom ind i Lyset, blev Kusken straks staaende ved Døren ramt af<br />
Ærefrygt; ogsaa den anden tabte Sikkerheden. Midt i Stuen ved Bordet sad<br />
fire fornemme Krigsfolk af den sachsiske Garde, der fornylig var kommen til<br />
Byen. De straalede af Klæder, deres røde, spækkede Ærme<span id="jhgftds">r</span>, deres Fjer og<br />
Skæg fangede Øjet som en Glædesild. Lænet op mod Bordet og Bænkene stod<br />
Sværd og Spyd, gedigne Vaaben. Enhver kunde se, at Læderstropperne havde et<br />
<span id="hytg4455">F</span>ald, der var kommet ved øvet Brug. Alle fire vendte Hovedet men saa straks<br />
paa hverandre indbyrdes igen og talte videre.<br /><br />

Pigen bragte to Krus Øl hen til Døren og satte et Lys paa det lille Bord<br />
der. Hun var knap gaaet væk igen, før en af Knægtene henne i Stuen rakte<br />
sig i Sædet og brast i Latter.<br /><br />

Se nu til ham der, ham med Hætten -- det gør godt, hvor det kommer! Han<br />
talte tysk.<br /><br />

De andre vendte sig godmodigt, men de kunde heller ikke lade være at le.<br />
Den lange drak just, han stod o<span id="765ygv">p</span> med bøjede Knæ, og idet en stor, spids<br />
Næse tonede ud af Hætten over Kruset, tog hele Figuren sig unægtelig morsom<br />
ud. Da han havde drukket, satte han sig roligt ned. Lyset faldt paa hans<br />
Øjne, han plirede hen til Bordet, halvt fornærmet, halvt varmt spottende<br />
som en Mand, der har Filosofi.<br /><br />

Da rejste den ene af Knægtene sig, gik et Par Skridt frem i Stuen og tog<br />
høfligt tilorde paa sin tysk:<br /><br />

Vor Lystighed var ikke ondt ment -- gør De os ikke den Ære at drikke et<br />
Glas Vin?<br /><br />

Danke, sagde den lange og gik til Bordet med flere Skrabud. Før han<br />
skrævede over Bænken og satte sig, gjorde han en Bøjning mod hver især og<br />
nævnede sit Navn, Mikkel Thøgersen, studiosus. Saa henfaldt han til at<br />
purre i Haaret og slibe Haandfladerne op ad sine ru Kinder. Han hørte fire<br />
Navne blive sagt, hvoraf det ene lød dansk, og saa et Glas blodrød Vin<br />
brænde foran sig. Og Skaal, Skaal!<br /><br />

Ihr Herren! Mikkel Thøgersen drak med Anstand og rettede sin stageagtige<br />
Krop, idet Vinen løb i ham. Han skød Blikket hastigt over Bordet og<br />
fikserede den ene af Herrerne, den yngste, der sad med Hovedet støttet i<br />
Haanden. Det var en hvid, tæt Haand uden synlige Aarer eller Knoer,<br />
Fingrene gravede i det lysebrune Haar. Ansigtet var langt -- og Udtrykket<br />
deri fik <span id="oihjgf">p</span>ludselig Mikkel til at huske en Linedanser, han havde set en Gang<br />
ved et Marked, en ung Badutspringer, der sad ensom i en Krog uden at tage<br />
sig noget for -- syg velsagtens. Mikkel huskede det unge, lidende Ansigt nu<br />
-- netop saadanne Øjne havde han der. Men Mikkel syntes desuden, han skulde<br />
kende ham. Hvem var det, hvor var det? Han saa' ud som en Adelsmand.<br /><br />

Paany stod Glasset fyldt foran Mikkel <span id="gvbew">T</span>høgersen. Han gjorde Besked med<br />
største Høviskhed, adspredt af at huske sig om og omtaaget ved Synet af<br />
Mennesket paa den anden Side Bordet. Der var en Mystik om det brune Hoved,<br />
og se der vendte han Brystet til. Armene sad i en paafaldende Afstand fra<br />
hinanden, det var en ualmindelig rank Skabning, han havde. Hvorfor havde<br />
han Sorg, Trækkene var mere egnede til Lystighed.<br /><br />

Snakken gik, de fire Soldater begegnede Mikkel forekommende. Og Mikkel<br />
følte sig fuld af Tillid overfor disse Tyskere, der jo ikke kunde vide, at<br />
man kaldte ham for »Storken« inde i Byen. Mikkel sprokkede tysk meget<br />
gelassent, men han blev atter og atter adspredt, kunde alligevel ikke lade<br />
være at tænke paa sit Øgenavn . . . paa den anden Side vidste Tyskerne her<br />
heller ikke, at han i en snævrere Kres var bekendt som Ophavsmand til<br />
latinske Oder og Distika . . . hvorfor sagde den unge derovre ingenting? --<br /><br />

Otte Iversen! Der faldt Navnet. Saa var det ham alligevel. Og Mikkel<br />
huskede i samme Nu en graa, brøstfældig Port, en Mur og et Spir -- hjemme i<br />
Jylland -- han følte sig selv staa klejn og elendig der udenfor. Han havde<br />
været der nogle Gange. Det var længe siden. Kun en eneste Gang havde han<br />
set ham . . . det var altsaa den Junker Otte, han havde skimtet inde i<br />
Gaarden som en spinkel Dreng og tænkt paa siden. Han stod derinde i en Flok<br />
Hunde og med en forpjusket Falk paa Tommelfingeren. Og nu sad han her,<br />
højvoksen, smal som en Pige.<br /><br />

Knægtene smaalo. Mikkel Thøgersen tog sig sammen og drak igen.<br /><br />

Kusken viste sig i Døren. Nu kører jeg, sagde han, og dermed satte han en<br />
Pose og en lille Halmkurv fuld af Æg ned paa Gulvet lige indenfor Døren,<br />
hvorpaa han lukkede igen for sig. Det var Mikkels Sager, Udbyttet af hans<br />
Tur paa Landet -- der stod hans Forsmædelse ganske nøgen nede ved Døren;<br />
han vendte forvirret Ryggen dertil.<br /><br />

Men de tyske Soldater lo og fik en Idé -- Æg var jo aldrig afvejen. Mikkel<br />
flyede da Æggene fra sig baade glad og fornedret, og de blev drukket<br />
allesammen, som de var. Otte Iversen vilde ingen have og sagde fremdeles<br />
ikke noget.<br /><br />

Nu sad Mikkel Thøgersen paa Bænken, hed og flov og venlig, den lækre Vin<br />
befriede hans Tynge, og dog følte han sig ubodeligt mismodig. Hans Sjæl<br />
fløj de sorgløse Herrer imøde, og samtidig beholdt han en Frygt for at være<br />
dem prisgiven -- og hele hans Humør begyndte at svømme og vugge i Rytme.<br />
Han skottede stjaalent til Junker Otte, forelsket i ham, mistroisk,<br />
logrende . . . kendte han ham mon ikke? -- nej, gid han alligevel ikke<br />
kendte ham.<br /><br />

Den ene af de tyske Knægte havde et Skaar i Overlæben slet dækket af<br />
Skægget, han kunde ikke tale rent, Mikkel Thøgersen hørte hans utætte Snak<br />
og morede sig vemodigt -- han blev varm af alt, hvad han saa og hørte. Og<br />
medens Vinen og Velværet løste hans Sind, forhærdede han sig underneden,<br />
han følte en raa Kulde stige i sig, men han holdt den i Bunde og samlede<br />
sig.<br /><br />

De tre Tyskere sværmede henne ved Skænken. Mikkel Thøgersen og Otte Iversen<br />
blev ene tilbage ved Bordet. Ingen af dem sagde noget, og Mikkel søgte at<br />
gaa i sig selv. Han saa ned i Mørket mellem Bordet og Bænken og fornam en<br />
bitterlig Ensomhed. Men han vilde <span id="h66trebhu">s</span>laa sig tiltaals, han sukkede og trak<br />
sine Rafter af Ben ind under sig, han tørrede Sveden af Panden og kom i<br />
Orden. Otte Iversen sad og drejede sit Bæger rundt, han saa fremdeles ud<br />
som han var syg.<br /><br />

Da Knægtene kom igen med nyopdagede Drikkesorter, skikkede Mikkel Thøgersen<br />
sig mere samlet, han drak forstandigt og uden Uro. Nu svirede de allesammen<br />
tæt og tænkte ikke paa andet. Otte Iversen tømte Bægret saa tit det blev<br />
fyldt og undergik ikke fjærneste Forandring derved. Clas, ham med Skaaret i<br />
Læben, stemte op med en Sang, det lød ikke saa lidt besynderligt.<br /><br />

Mikkel Thøgersen tog et af de vældige Tohaandssværd og vejede det prøvende<br />
i Haanden -- de viste ham Tagene. Hver Gang den hvasse Od vendte imod ham,<br />
trak det ondt som en iskold Vind ned gennem hans Rygrad -- det undrede ham,<br />
han var nu ellers ikke bange for Kniven.<br /><br />

Og Clas sang:<br /><br />

   Ei werd' ich dann erschossen,<br />
   Erschossen auf breiter Heid',<br />
   Man trägt mich auf langen Spieszen,<br />
   Ein Grab ist mir bereit;<br />
   S<span id="kjmn44">o</span> schlägt man mir den Pumerlein Pum,<br />
   Der ist mir neunmal lieber<br />
   Denn aller Pfaffen Gebrumm.<br /><br />


De halve af Ordene sivede ham ud i Skægget. Og man opvartede med<br />
Krigshistorier, om Fægtninger her og der -- huit, huit -- om Sejre og<br />
Dødsfarer og . . .<br /><br />

Heinrich, husker du den blonde Lenore? raaber saa Clas ellevild. Jo,<br />
Heinrich mindedes Lenore. Historien haglede øjeblikkeligt fra hans Mund,<br />
Clas og Samuel vendte op og ned paa sig selv af Latter.<br /><br />

Men Mikkel Thøgersen tav og krympede sig under dette Vejr af<br />
Aabenmundethed, han skelede over til Otte Iversen -- og han alene blev et<br />
Smil va'r paa det unge, hovmodige Ansigt, og et umærkeligt Træk ved<br />
Læberne, som havde Junker Otte sporet en modbydelig Lugt.<br /><br />

Mikkel havde Møje med at faa sit Vejr, han strøg sig atter og atter over<br />
Ansigtet.<br /><br />

Men Heinrich fortalte væk. Otte Iversen drejede sig fra Bordet og slog det<br />
ene Ben over det andet. Da Historien endelig var ovre, blev der ganske<br />
stille, som om man havde mærket Forstemtheden. Maaske følte Otte Iversen,<br />
at Pavsen skyldtes ham -- han vendte sig mod Bordet som for at staa ved sin<br />
Mening og søgte stift Fortællerens Blik.<br /><br />

Heinrich saa ganske betuttet ud. Men nu skar Samuel igennem med en anden<br />
Historie. Han var ikke ung, det var ikke om Kærlighed, han fortalte men om<br />
en vis sindssyg Slagtning, han havde været med til en Gang, hvor de traadte<br />
Tarmene ud af Folk med Støvlehælene og kvalte dem i deres eget Møg. Denne<br />
Beretning gjorde Luften i Stuen ligesom mere raa og frisk at aande. Clas<br />
kom med ivrige Kenderspørgsmaal, Mikkel Thøgersen morede sig pludselig over<br />
hans løjerlige Talefejl, han hævede Næsen og brast i Grin -- gru, gru! Da<br />
saa Otte Iversen trevent op og trak halvt nødtvungen paa Munden, og endelig<br />
rakte han ogsaa Halsen mod Loftet og lo. Hans Latter lød som en Skralde.<br />
Saa, Punktum, der holdt han op og sad indesluttet som før.<br /><br />

Lidt efter tog de afsted for at slippe ind i Byen, inden Portene blev<br />
lukket. Da de kom udenfor, følte Mikkel <span id="7766tt">T</span>høgersen igen Afstanden mellem sig<br />
og Soldaterne, han holdt sig tilbage og tog Afsked, saa snart de var naaet<br />
indenfor Nørreport. Landsknægtene gik videre ind i Byen, Mikkel stod og saa<br />
lidt efter dem, inden han tog til ve<span id="gtrezzxx">n</span>stre for at komme hjem.<br />

