
@{
    ViewData["Title"] = "sFsoTnptsrpT";
}

    <img src="~/images/Rebus.png" />
<br />
<br />
<form>

    <input type="hidden" id="hiddenResult" />
    <input type="submit" value="Send gæt" />

</form>